# Virtual environment
venv/

# Dataset
Code/real_and_fake_face_detection/
Code/celebdf_faces/

# Model weights
*.h5

# Cache
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# env
webSite/backend/.env